<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<!--========== FOOTER ==========-->
<div th:fragment="copy">
    <footer class="footer">
        <div class="content container">
            <div class="row">
                <div class="col-xs-6">
                    <img class="footer-logo" src="../img/logo.png" alt="Logo">
                </div>
                <div class="col-xs-6 text-right sm-text-left">
                    <p class="margin-b-0"><a class="fweight-700" href="#"></a> Powered by: <a class="fweight-700"
                                                                                              href="#">Neshin Ivan</a>
                    </p>
                </div>
            </div>
            <!--// end row -->
        </div>
    </footer>
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top" style="width:60px">Вверх</a>
</div>
<!--========== END FOOTER ==========-->
</body>
</html>