<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<!--========== HEADER ==========-->
<div th:fragment="copy">
    <header class="header navbar-fixed-top">
        <!-- Navbar -->
        <nav class="navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container js_nav-item">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="sr-only">Навигация</span>
                        <span class="toggle-icon"></span>
                    </button>

                    <!-- Logo -->
                    <div class="logo">
                        <a class="logo-wrap" href="#body">
                            <img class="logo-img" src="../img/logo.png" alt="Asentus Logo">
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <p class="navbar-text" th:inline="text" th:if="${#httpServletRequest.remoteUser}"><br>Пользователь:<br>[[${#httpServletRequest.remoteUser}]]</p>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav navbar-nav-right">
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="/">Главная</a>
                            </li>
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="/report">Отправления</a>
                            </li>
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="#experience">Отчеты</a></li>
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="/help">Помошь</a>
                            </li>
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="/#contact">Контакты</a>
                            </li>
                            <li class="js_nav-item nav-item" th:unless="${#httpServletRequest.remoteUser}">
                                <a class="nav-item-child nav-item-hover" href="/login">Вход</a>
                            </li>
                            <li class="js_nav-item nav-item" th:if="${#httpServletRequest.remoteUser}">
                                <a class="nav-item-child nav-item-hover" href="/logout">Выход</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Navbar Collapse -->
            </div>
        </nav>
        <!-- Navbar -->
    </header>
</div>
<!--========== END HEADER ==========-->
</body>
</html>