<!DOCTYPE html>
<html lang="ru" class="no-js" xmlns:th="http://www.thymeleaf.org">
    <!-- BEGIN HEAD -->
    <head th:insert="~{commons/head::copy}"/>

    <!-- BODY -->
    <body id="body" data-spy="scroll" data-target=".header">
    <div th:insert="~{commons/header::copy}"></div>
    <div th:insert="~{blocks/slider::copy}"></div>
        <!--========== PAGE LAYOUT ==========-->
        <div th:insert="~{blocks/promo-banner::copy}"></div>
        <div th:insert="~{blocks/contact::copy}"></div>
        <!--========== END PAGE LAYOUT ==========-->
    <div th:insert="~{commons/footer::copy}"></div>
    <div th:insert="~{commons/js-includes::copy}"></div>
    </body>
    <!-- END BODY -->
</html>