<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <!-- Contact -->
    <div id="contact">
        <div class="bg-color-sky-light">
            <div class="container content-lg">
                <div class="row margin-b-40">
                    <div class="col-sm-6">
                        <h2>Контакты</h2>
                        <p></p>
                    </div>
                </div>
                <!--// end row -->

                <div class="row">
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h4>Адрес</h4>
                        <a href="#">Россия, Ульяновск</a>
                    </div>
                    <div class="col-md-3 col-xs-6 md-margin-b-30">
                        <h4>Телефон</h4>
                        <a href="#">+7 960 372 50 51</a>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h4>Email</h4>
                        <a href="mailto:#">neshin@gmail.com</a>
                    </div>
                    <!--                        <div class="col-md-3 col-xs-6">
                                                <h4>Web</h4>
                                                <a href="#">neshin.ru</a>
                                            </div>-->
                </div>
                <!--// end row -->
            </div>
        </div>
    </div>
    <!-- End Contact -->
</div>

</body>
</html>